TumanaDeveloped.Web/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
TumanaDeveloped.Web/bin/roslyn/Microsoft.CodeAnalysis.dll
TumanaDeveloped.Web/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
TumanaDeveloped.Web/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
TumanaDeveloped.Web/bin/roslyn/System.IO.Compression.dll
TumanaDeveloped.Web/bin/roslyn/VBCSCompiler.exe
