@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Officials>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}


<section class="our-team">
    <div class="ewds-container">
        <div class="row">

            <div class="col-12">
                <section class="h3-section5">
                    <div class="row">
                        <div class="col-12 mb-30">
                            <div class="section-header-style-1 text-center">
                                <h1 class="h1">Barangay Tumana Officials</h1>
                                <p class="p-16">Elected Tumana Officers for the term of 2019 - 2022</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="advisors-group">
                                <div class="row justify-content-md-center">
                                    <div class="col-12 col-lg-4 col-md-auto">
                                        <div class="advisor-block">
                                            <div class="advisor-info">
                                                <img class="advisor-avatar" src="../images/Kap.jpg" alt="Advisor">
                                                <div class="advisor-name">
                                                    <h5 class="h5">Ziffred A. Ancheta</h5>
                                                    <p>Punong Barangay</p>
                                                </div>
                                                <div class="advisor-socials"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a><a href="https://twitter.com/"><i class="fab fa-youtube"></i></a></div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                       
                        <div class="col-12">
                            <div class="advisors-group">
                                <div class="row">
                                    <div class="col-12 col-lg-4">
                                        <div class="advisor-block">
                                            <div class="advisor-info">
                                                <img class="advisor-avatar" src="../images/kap.jpg" alt="Advisor">
                                                <div class="advisor-name">
                                                    <h5 class="h5">Raymond A. Parta</h5>
                                                    <p>Barangay Secretary</p>
                                                </div>
                                                <div class="advisor-socials"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a><a href="https://twitter.com/"><i class="fab fa-youtube"></i></a></div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="advisor-block">
                                            <div class="advisor-info">
                                                <img class="advisor-avatar" src="../images/kap.jpg" alt="Advisor">
                                                <div class="advisor-name">
                                                    <h5 class="h5">Rowena D. Tejada</h5>
                                                    <p>Barangay Treasurer</p>
                                                </div>
                                                <div class="advisor-socials"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a><a href="https://twitter.com/"><i class="fab fa-youtube"></i></a></div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="advisor-block">
                                            <div class="advisor-info">
                                                <img class="advisor-avatar" src="../images/kap.jpg" alt="Advisor">
                                                <div class="advisor-name">
                                                    <h5 class="h5">Jimmy M. Ceguerra</h5>
                                                    <p>Barangay Kagawad</p>
                                                </div>
                                                <div class="advisor-socials"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a><a href="https://twitter.com/"><i class="fab fa-youtube"></i></a></div>

                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>
</section>

