@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{ 
    var home = Model.AncestorOrSelf<Home>();
}

 @*<div class="top-nav top-nav-style2">
            <div class="ewds-container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6">
                        <div class="top-nav_left">
                            <p class="notification"></p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="top-nav_right text-lg-right">




                            <div class="dashboardaccount inline-block">
                                <a class="select" href="#">
                                    <div class="flag inline-block"><img src="~/images/homepage1/tumana-color.png" alt="color"></div>Account
                                </a>*@
                                @*@if (Umbraco.MemberIsLoggedOn())
                                {*@
                                    @*<div class="options-box">
                                        <ul>
                                            <li>
                                                <a class="select option" href="/login">
                                                    My Account
                                                </a>
                                            </li>
                                            <li>
                                                <a class="select option" href="/logout">
                                                    Logout
                                                </a>
                                            </li>
                                        </ul>
                                    </div>*@

                                @*}
                                else
                                {*@
                                    <!--<div class="options-box">
                                        <ul>
                                            <li>
                                                <a class="select option" href="/login">
                                                    Login
                                                </a>
                                            </li>-->
                                            @*<li>
                                                <a class="select option" href="/register/">
                                                    Register
                                                </a>
                                            </li>*@
                                        <!--</ul>
                                    </div>-->
                                @*}*@
                           
                            
                            @*</div>





                            <div class="social inline-block"><span>Follow: </span><a class="fab fa-facebook-f" href="https://www.facebook.com/"></a><a class="fab fa-twitter" href="https://twitter.com/"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        