@inherits Umbraco.Web.Mvc.UmbracoViewPage<TumanaDeveloped.Core.ViewModel.ForgottenPasswordViewModel>
@using TumanaDeveloped.Core.Controller

@if (Umbraco.MemberIsLoggedOn())
{
    <h2>You are already logged in!</h2>

}
else if (TempData["status"] != null && (string)TempData["status"] == "OK")
{
    <p>
        An Email has been sent to the email address you provided. Please follow the instructions therein.
    </p>

}
else
{
 
    <section class="event">
        <div class="ewds-container">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="events-search">
                        <h1 class="h1">Login</h1>
                        @using (Html.BeginUmbracoForm<LoginController>("HandleForgottenPassword", null, new { @class = "events-search_box" }))
                        {
                            @Html.AntiForgeryToken()

                    <div class="row align-items-end">
                        <div class="col-12 col-md-9">
                            <div class="row">
                                <div class="col-12">

                                    @Html.LabelFor(m => m.Email, new { @class = "" })

                                    <i class="text-muted">Enter your email address and we will send you a link to reset your password.</i>
                                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email Address", @class = "input-form" })
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <button class="btn-blue" type="submit" value="Login">Submit</button>
                        </div>

                        <a class="text-muted mt-5 pl-3" href="/Login/">Back to login</a>
                    </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>







}