@inherits Umbraco.Web.Mvc.UmbracoViewPage
    @if (!ViewData.ModelState.IsValid)
    {
        <h3>Error</h3>
        foreach(ModelState modelState in ViewData.ModelState.Values)
        {
            var errors = modelState.Errors;
            if(errors.Any())
                {
                        <ul>
                            @foreach(var err in errors)
                        {
                            <li>@err.ErrorMessage</li>
                        }

                        </ul>
                    }
        }
    }
    else {

        <h2>Email Address Verified</h2>
        <p>Thanks for verifying your email address, you may now login normally.</p>
        <a class="btn-blue" href="/login">Go to login</a>

    }